.rectangle76-container {
  display: flex;
  position: relative;
}
.rectangle76-rectangle7 {
  width: 146px;
  height: 60px;
  position: relative;
  border-radius: 13.91526985168457px;
}
.rectangle76-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
