.rectangle75-container {
  display: flex;
  position: relative;
}
.rectangle75-rectangle7 {
  width: 146px;
  height: 60px;
  position: relative;
  transition: 0.3s;
  border-radius: 13.91526985168457px;
}


.rectangle75-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
