.rectangle73-container {
  display: flex;
  position: relative;
}
.rectangle73-rectangle7 {
  width: 146px;
  height: 60px;
  position: relative;
  transition: 0.3s;
  border-radius: 13.91526985168457px;
}


.rectangle73-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
.rectangle73-root-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
